export(QRLMM)
export(group.plot)
export(group.lines)
export(group.points)
import(tcltk)
importFrom(ald,dALD)
importFrom(ald,rALD)
importFrom(lqr,Egig)
importFrom(mvtnorm,rmvnorm)
importFrom(mvtnorm,dmvnorm)
importFrom(quantreg,rq)
importFrom(psych,tr)
importFrom("graphics", "abline", "axis", "lines", "par", "plot",
             "polygon", "title", "matlines", "matplot", "matpoints")
importFrom("stats", "D", "plot.ts", "pnorm", "qnorm", "runif",
             "smooth.spline")