export(QRLMM)
export(dALD)
export(pALD)
export(qALD)
export(rALD)
import(tcltk)
import(nlme)
importFrom(ghyp,Egig)
importFrom(mvtnorm,rmvnorm)
importFrom(mvtnorm,dmvnorm)
importFrom(matrixcalc,is.positive.definite)           
importFrom(quantreg,rq)
importFrom(psych,tr)